body {
	font-family: "Berlin Sans FB";
}

.float{
	position:fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #000000;
	border-radius: 50px;
	border: 3px solid #ccc !important;
	animation: bot-to-top 2s ease-out;
}

.playlist {
	position: fixed;
	right: 40px;
	padding: 15px;
	bottom: 85px;
	border-radius: 30px;
	border: 3px solid #ccc;
}

.play{
	list-style: none;
}

.playlist:hover {
	visibility: visible !important;
	opacity: 1 !important;
}

.my-float{
	font-size: 1.8rem;
	padding-top: 30%;
}

#menu-share + .playlist{
  visibility: hidden;
}

#menu-share:hover + .playlist{
  visibility: visible;
  animation: scale-in 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

.titulo-home {
  font-family: "Edwardian Script ITC";
}

.titulo {
	font-family: "Berlin Sans FB";
  font-size: 2.5rem;
}

.normal-size {
  font-size: 1.5rem;
}

.small-size {
  font-size: 1.0rem;
}

.height {
  height: 300px;
  object-fit: cover;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sized {
  width: 250px;
  height: 170px;
  object-fit: cover;
}

.video {
  width: 570px;
  height: 427px;
}

.paddingtop {
  padding-top: 3%;
}

.icon {
  transform: scale(3);
}

.whatsapp-icon, .facebook-icon, .gmail-icon, .youtube-icon {
  transition: all 0.4s;
  color: grey;
}

.whatsapp-icon:hover {
  color: #075e54;
  transform: scale(1.5);
}

.facebook-icon:hover {
  color: #3b5998;
  transform: scale(1.5);
}

.gmail-icon:hover {
  color: #ea4335;
  transform: scale(1.5);
}

.youtube-icon:hover {
  color: #ff0000;
  transform: scale(1.5);
}
