.titulo-home {
  font-family: "Edwardian Script ITC";
}

.berlin-sans-titulo {
  font-family: "Berlin Sans FB";
  font-size: 2.5rem;
}

.berlin-sans {
  font-family: "Berlin Sans FB";
  font-size: 1.5rem;
}

.berlin-sans-btn {
  font-family: "Berlin Sans FB";
  font-size: 1.0rem;
}

.height {
  height: 300px;
  object-fit: cover;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sized {
  width: 250px;
  height: 170px;
  object-fit: cover;
}

.video {
  width: 570px;
  height: 427px;
}

.paddingtop {
  padding-top: 3%;
}

.icon {
  transform: scale(3);
}

.whatsapp-icon, .facebook-icon, .gmail-icon, .youtube-icon {
  transition: all 0.4s;
  color: grey;
}

.whatsapp-icon:hover {
  color: #075e54;
  transform: scale(1.5);
}

.facebook-icon:hover {
  color: #3b5998;
  transform: scale(1.5);
}

.gmail-icon:hover {
  color: #ea4335;
  transform: scale(1.5);
}

.youtube-icon:hover {
  color: #ff0000;
  transform: scale(1.5);
}
