<section class="container-fluid full-container" id="carrera">
    <h2 class="text-center pt-3">Carrera artística</h2>
    <hr class="divider">
    <div class="m-4">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab">
                    <li class="nav-item">
                        <a href="#inicios" class="nav-link active" data-bs-toggle="tab">Inicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="#carnaval" class="nav-link" data-bs-toggle="tab">Carnaval</a>
                    </li>
                    <li class="nav-item">
                        <a href="#shows" class="nav-link" data-bs-toggle="tab">Shows</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="inicios">
                        <div class="row g-0">
                            <div class="col-md-4">
                              <img src="../../assets/images/inicios.jpg" class="rounded">
                            </div>
                            <div class="col-md-8 col-sm-12">
                              <div class="card-body">
                                  <h4 class="card-title">Inicios</h4>
                                  <p class="card-text">Su carrera artística comenzó por los años setenta interpretando folklore y música paraguaya con los reconocidos hermanos Antoine, realizando shows en Montevideo y giras por el interior del país.
                                      También incursionó en el tango, participando en el concurso del programa Armenonville en Canal 4, conducido por el reconocido periodista de turf Arturo Ochoteco, logrando allí una destacada actuación.
                                      Dedicado ya a la balada por los años 80 participó de varios festivales, siendo el más importante el Festival Atlántico de la canción.</p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="carnaval">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Carnaval</h4>
                                    <p class="card-text">Participó del Carnaval Uruguayo en varias categorías.
                                        En categoría humoristas participó con el grupo Los Adam's y luego fue componente destacado en categoría parodistas en Los Walker's, obteniendo cuatro primeros premios, dos segundos y un tercer premio.
                                        En el final de su carrera carnavelera participó del grupo parodista Adam's, obteniendo el segundo premio.
                                    </p>
                                    <ul class="list">
                                        <li class="list-item">Teatro de Verano 2do. Premio Parodistas 1981</li>
                                        <li class="list-item">Teatro de Verano 2do. Premio Parodistas 1982</li>
                                        <li class="list-item">Teatro de Verano 1er. Premio Parodistas 1983</li>
                                        <li class="list-item">Teatro de Verano 1er. Premio Parodistas 1984</li>
                                        <li class="list-item">Teatro de Verano 3er. Premio Parodistas 1985</li>
                                        <li class="list-item">Teatro de Verano 1er. Premio Parodistas 1986</li>
                                        <li class="list-item">Teatro de Verano 1er. Premio Parodistas 1987</li>
                                        <li class="list-item">Teatro de Verano 2do. Premio Parodistas 1991</li>
                                    </ul>    
                                </div>
                            </div>
                            <div class="col-md-4">
                              <img src="../../assets/images/carnaval.jpg" class="rounded">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="shows">
                        <div class="row g-0">
                            <div class="col-md-4">
                              <img src="../../assets/images/shows.jpg" class="rounded">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">Shows</h4>
                                    <p class="card-text">A finales de los años noventa, forma su querido grupo "Nostálgicos", dedicándose exclusivamente al género del bolero. Durante una década fue artista estable del Hotel Conrad de Punta del Este, siendo con su grupo un gran animador de las temporadas puntaesteñas, lo cual se extendió a Buenos Aires y San Pablo gracias a varias actuaciones por contrataciones de clientes de dicho hotel.
                                        En el año 2010, continúa su carrera nuevamente como solista/cantautor, presentándose en varias salas teatrales y siendo productor de sus propios shows.
                                        En su trayectoria graba cuatro discos compactos como también innumerables simples y participa de varios discos compactos como invitado.
                                    </p>
                                    <ul class="list">
                                        <li class="list-item">Teatro del Anglo 2004/05</li>
                                        <li class="list-item">Sala Zitarrosa 2005/06</li>
                                        <li class="list-item">Teatro Agadu 2007/08</li>
                                        <li class="list-item">Teatro La Candela 2008</li>
                                        <li class="list-item">Teatro del Centro 2008/09</li>
                                        <li class="list-item">Teatro la Colmena 2009-17</li>
                                    </ul>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
