<header class="masthead" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="text-white" @enterTitle>Miguel Ángel</h1>
                <h1 class="text-white" @enterTitle>La Voz Romántica</h1>
                <hr class="divider">
                <p class="text-white lead px-5" @enterSubtitle>Con más de cuarenta años en la música, Miguel Ángel ha recorrido todos los estilos musicales, para recalar en las últimas décadas en los boleros, las baladas y la música romántica.</p>
            </div>
        </div>
    </div>
</header>
