<section class="container-fluid full-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row m-4">
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <a href="https://wa.me/59894404979">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fab fa-whatsapp"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Whatsapp</span></p>
                                     </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <a href="https://www.facebook.com/miguelangel.correarodriguez.5">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fab fa-facebook"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Facebook</span></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <a href="mailto:miguelangellavoz@gmail.com">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-envelope"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Email:</span></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <a href="https://www.youtube.com/channel/UC-Z_MhBTdXF-5lsufx3LB7g">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fab fa-youtube"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Youtube</span></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-white text-center">Copyright © 2020 - Miguel Angel Correa - La Voz Romántica</p>
        </div>
    </div>
</section>
