section {
    background-color: #9e9b9d;
}

a {
    text-decoration: none;
    color: black;
}

.icon {
    font-size: 3rem;
}

.whatsapp:hover a .icon .fa-whatsapp {
    color: green;
    transform: scale(1.5) translateY(-20%);
    transition: ease 1s;
}

.whatsapp:hover a .text {
    color: green;
    transform: scale(1.5) translateY(-5%);
    transition: ease 1s;
}

.facebook:hover a .icon .fa-facebook {
    color: blue;
    transform: scale(1.5) translateY(-20%);
    transition: ease 1s;
}

.facebook:hover a .text {
    color: blue;
    transform: scale(1.5) translateY(-5%);
    transition: ease 1s;
}