section {
    background-color: #9e9b9d;
}

a {
    text-decoration: none;
    color: #491f14;
}

.icon {
    font-size: 3rem;
}

.whatsapp:hover a .icon .fa-whatsapp {
    color: green;
    transform: scale(1.5) translateY(-20%);
    transition: ease 1s;
}

.whatsapp:hover a .text {
    color: green;
    transform: scale(1.5) translateY(-5%);
    transition: ease 1s;
}

.facebook:hover a .icon .fa-facebook {
    color: blue;
    transform: scale(1.5) translateY(-20%);
    transition: ease 1s;
}

.facebook:hover a .text {
    color: blue;
    transform: scale(1.5) translateY(-5%);
    transition: ease 1s;
}

.email:hover a .icon .fa-envelope {
    color: lightsteelblue;
    transform: scale(1.5) translateY(-20%);
    transition: ease 1s;
}

.email:hover a .text {
    color: lightsteelblue;
    transform: scale(1.5) translateY(-5%);
    transition: ease 1s;
}

.youtube:hover a .icon .fa-youtube {
    color: red;
    transform: scale(1.5) translateY(-20%);
    transition: ease 1s;
}

.youtube:hover a .text {
    color: red;
    transform: scale(1.5) translateY(-5%);
    transition: ease 1s;
}