section {
    background-color: red;
}

.full-container {
    height: 92vh;
}

img {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

.carousel-center {
    margin: 0;
    top: 43%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
