<section class="container-fluid full-container" id="contacto">
    <h2 class="text-center pt-3">Contacto</h2>
    <hr class="divider">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters mb-5">
                        <div class="col-md-7">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <div id="form-message-warning" class="mb-4"></div> 
                                <!-- <div id="form-message-success" class="mb-4">
                                    Tu mensaje fue enviado. ¡Gracias!
                                </div> -->
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-group">
                                                <label class="label" for="name">Nombre completo</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre completo">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2"> 
                                            <div class="form-group">
                                                <label class="label" for="email">Email</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <div class="form-group">
                                                <label class="label" for="subject">Asunto</label>
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <div class="form-group">
                                                <label class="label" for="#">Mensaje</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Mensaje"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <div class="form-group text-center">
                                                <input type="submit" value="Enviar" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch">
                            <img src="../../assets/images/contacto.jpg" class="rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
